services:
  db:
    image: postgres:16-alpine
    container_name: hpdav_db
    restart: always
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=hpdavDB
    volumes:
      - db_data:/var/lib/postgresql/data
      # - ./Datasets:/Datasets

  backend:
    build: ./backend
    container_name: hpdav_backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    environment:
      - FLASK_DEBUG=1
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: hpdav_frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    depends_on:
      - backend
    stdin_open: true
    tty: true

  pgadmin:
    image: dpage/pgadmin4
    container_name: hpdav_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  db_data:
